body{

margin:0;

padding:0;

font-family:Arial;

background:#f4f4f4;

}

.login-box{

width:380px;

margin:80px auto;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0 0 10px gray;

text-align:center;

}

h2{

color:#f39c12;

margin-bottom:5px;

}

p{

color:gray;

}

input,select{

width:100%;

padding:10px;

margin:10px 0;

border:1px solid #ccc;

border-radius:5px;

}

button{

width:100%;

padding:10px;

background:#f39c12;

color:white;

border:none;

border-radius:5px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#e67e22;

}